<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Item</title>
  </head>
  <body>
    <a href="/">Back</a>
    <%- include("partials/errors.ejs") %>
    <form action="/add-item" method="POST">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= data.title || '' %>"
        required
      />
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        value="<%= data.description || '' %>"
        required
      />
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        min="0"
        value="<%= data.price || '' %>"
        required
      />
      <label for="release-year">Release Year</label>
      <input
        type="date"
        name="release-year"
        id="release-year"
        value="<%= data['release-year'] || '' %>"
        required
      />
      <fieldset>
        <legend>Genre</legend>
        <% genres.forEach(genre => { %>
        <input
          type="checkbox"
          name="genres"
          value="<%= genre.genre_id %>"
          id="<%= genre.name %>"
        />
        <label for="<%= genre.name %>"><%= genre.name %></label>
        <% }); %>
      </fieldset>
      <label for="developer-select">Developer: </label>
      <select name="developer-id" id="developer-select">
        <option value="">--Please choose an option--</option>
        <% developers.forEach(developer => { %>
        <option value="<%= developer.developer_id %>">
          <%= developer.name %>
        </option>
        <% }) %>
      </select>
      <button type="submit">Add Item</button>
    </form>
  </body>
</html>
